body {
    margin: 0;
    background-color: violet;
  }  
h1 {
    text-align: center;
}  
.head{
    background-color: rgb(226, 107, 4);
    border-color: #fff;
    border-style: solid;
  width: 200px;
  margin: 0 auto;
  height: 100px;
  border-radius: 100px 100px 50px 50px;
  margin-bottom: 10px;
}
.robot:hover .head {
  animation: head 5s;
}
.eye {
  position: relative;
  top: 50px;
}
.eye1{
width: 20px;
height: 20px;
border-radius: 15px;
background:#000;
display: inline-block;
border: 1px solid #fff;
margin-left: 30px;
}
.eye2{
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background: #000;
  display: inline-block;
  border: 1px solid #fff;
  margin-left: 100px;
}
.body1{
  width: 300px;
  height: 150px;
  margin: 0 auto;
  display: flex;
}
.hand1{
  background-color: rgb(0, 0, 0);
  border-color: white;

  border-style: solid;
}
.hand1{
  width: 40px;
  height: 125px;
  border-radius: 50%;
  margin-top: 20px;
}
.hand1{
  margin-right: 10px;
}
.robot:hover .hand1 {
  animation: hand1 2s infinite;
}
.hand2{
  margin-left: 10px;
}
.robot:hover .hand2 {
  animation: hand2 2s infinite;
}
.hand2{
  background-color: rgb(0, 0, 0);
  border-color: white;
  border-style: solid;
}
.hand2{
  width: 40px;
  height: 125px;
  border-radius: 50%;
  margin-top: 20px;
}
.chest{
  border: 2px solid #fff;
  background: linear-gradient(
    360deg,
    black 25%,
    red 25%,
    white 25%,
    orange 25%
   );
}
.chest{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  transition: border-radius 1s;
}
.robot:hover .chest {
  border-radius: 40%;
  animation: chest 2s infinite;
}
.body2 {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;

}
.leg1{
    background-color: rgb(0, 0, 0);
    border-color:white ;
    border-style: solid;
}
.leg1 {
  margin-left: 45px;
}
.robot:hover .leg1 {
  animation: leg1 2s infinite;
}
.leg1{
  width: 40px;
  height: 120px;
  border-radius: 50%;
  display: inline-block;
}
.leg2 {
    margin-left: 30px;
}
.leg2 {
  background-color: rgb(0, 0, 0);
  border-color:white ;
  border-style: solid;
}
.leg2 {
  width: 40px;
  height: 120px;
  border-radius: 50%;
  display: inline-block;
}
.robot:hover .leg2 {
    animation: leg2 2s infinite;
} 

/* ANIMATIONS */

@keyframes head {
    0% {
      width: 200px;
    }
    25% {
      width: 200px;
    }
    50% {
      width: 250px;
    }
  
}
@keyframes hand1 {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
    25% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
}
@keyframes hand2 {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
    25% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
}
@keyframes leg1 {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
@keyframes leg2 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }
}
